.login-wave-bg-1 {
    background: url("../../assets/loginIcons/login-wave-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    opacity: 15%;
}

.login-wave-bg-2 {
    background: url("../../assets/loginIcons/login-wave-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vh;
    opacity: 15%;
}